<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body style="
    background-image: url('/static/{{ bg_image }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
">
    <h1>About This Application</h1>

    <p>This Employee Manager App was customized by <strong>{{ author }}</strong>.</p>
    <p>It demonstrates Flask, Docker, ECR, and Kubernetes (EKS).</p>

    <a href="/">Home</a> |
    <a href="/getemp">Search Employee</a>
</body>
</html>