name: Build and Push to ECR

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write      # Required for OIDC
  contents: read       # To read the repository

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Authenticate to AWS using OIDC (no access keys needed)
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::975050130168:role/LabRole
        aws-region: us-east-1

    # Login to ECR
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    # Build + Push Webapp
    - name: Build and push Webapp image
      run: |
        WEB_REPO="975050130168.dkr.ecr.us-east-1.amazonaws.com/clo835-webapp"

        echo "Building webapp..."
        docker build -t webapp -f finalproject-app-ABJ/Dockerfile finalproject-app-ABJ

        echo "Tagging webapp..."
        docker tag webapp:latest $WEB_REPO:latest

        echo "Pushing webapp..."
        docker push $WEB_REPO:latest

    # Build + Push MySQL image
    - name: Build and push MySQL image
      run: |
        MYSQL_REPO="975050130168.dkr.ecr.us-east-1.amazonaws.com/clo835-mysql"

        echo "Building MySQL..."
        docker build -t mysqldb -f Dockerfile_mysql .

        echo "Tagging MySQL..."
        docker tag mysqldb:latest $MYSQL_REPO:latest

        echo "Pushing MySQL..."
        docker push $MYSQL_REPO:latest
